<%- include('includes/head.ejs') %>
    </head>

    <body>
        <%- include('includes/navigation.ejs') %>
            <h1>An uenxpected error occured</h1>
            <p>We're working to resolve this issue. Pardon the inconvenience.</p>

            <%- include('includes/end.ejs') %>